services:
  - type: web
    name: xmall
    env: docker
    plan: free
    dockerfilePath: Dockerfile
    dockerContext: .
    autoDeploy: true
    envVars:
      - key: APP_ENV
        value: prod
      - key: APP_DEBUG
        value: 0
      - key: APP_SECRET
        sync: false
      - key: DATABASE_URL
        value: postgresql://postgres:[YOUR-PASSWORD]@db.cnjyaazngtylmzuqlmly.supabase.co:5432/postgres
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_PUBLIC_KEY
        sync: false
